dashboard {

  ion-card {
    padding:0;
    height:148px; // TODO fix that it's not pretty it should be auto adjusted
  }

  ion-card-header {
    text-align:center;
  }

  .progress-wrapper{
    position: relative;
    margin: 0px auto;
    font-size: 8vw;

    ion-icon {
      font-size: 14vw;
    }
  }



  .current{
    position: absolute;
    color: #bbb;
    font-weight: 100;

    left:0;
    right:0;
    bottom:0;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  ion-card.add-button-card {


    display: flex;
    align-items: center;
    justify-content: center;


    ion-card-content {
      display: flex;
      align-items: center;
      justify-content: center;

      ion-icon {

        // TODO Create a mixin for that or use $vars
        color: #bbb;
        font-weight: 100;
        font-size: 14vw;

      }
    }

  }
}
